* {
	margin: 0;
	padding: 0;
}
html {
	width: 100%;
	height: 100%;
	background-image: url("images/smart-screen-rn.png");
	background-repeat: no-repeat;
	background-position: center;
}

.date-container {
	left: 0;
	top: 0;
	float: left;
	position: absolute;
	margin-left: 4%;
}

.weather-container {
	left: 0;
	bottom: 0;
	float: left;
	position: absolute;
	margin-left: 4%;
}

.youtube-container {
	right: 0;
	top: 0;
	float: left;
	position: absolute;
	margin-right: 4%;
}

h1, h2 {
	text-align: center;
	padding: 10px;
	font-family: 'Roboto', sans-serif;
}

h1 {
	font-size: 400%;
	font-weight: 300;
}
h2 {
	font-size: 350%;
	font-weight: 100;
}
#icon {
	vertical-align: middle;
	margin-bottom: 30px;
}
#condition {
	display: inline-block;
	padding: 0;
}