* {
	padding: 0;
	margin: 0;
}
/* Custom fonts */
@font-face {
  font-family: visitor;
  src: url(fonts/visitor1.ttf);
}
@font-face {
  font-family: productSansBold;
  src: url(fonts/ProductSans-Bold.ttf);
}
@font-face {
  font-family: productSansReg;
  src: url(fonts/ProductSans-Regular.ttf);
}
@font-face {
  font-family: productSansThin;
  src: url(fonts/ProductSans-Thin.ttf);
}
@font-face {
  font-family: menloRegular;
  src: url(fonts/Menlo-Regular.woff);
}
body {
  background-color: #2A373E;
}

/* Navigation Bar */

div ul.nav {
  list-style-type: none;
  overflow: hidden;
  background-color: #91C0D8;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

div ul li.nav {
  float: left;
}

div ul li a.nav {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-family: productSansThin;
  font-size: 20px;
}

div ul li a.nav:hover {
	background-color: white;
	color: gray;
}
/*iframe {
  margin-top: 30%;
  margin-right: 10%;
  padding: 10px;
}*/
table {
  margin: auto;
  margin-top: 7%;
  width: 75%;
}
td {
  padding: 10px;
}
td:first-child {
  padding-right: 100px;
}
td:nth-child(2) {
  padding-left: 100px;
}
p { 
  width: 75%;
  color: white;
  font-size: 125%;
  font-family: productSansThin;
}
h1 {
  margin-top: 9%;
  text-align: center;
  font-family: productSansBold;
  color: #91C0D8;

}
iframe:hover {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.25), 0 6px 20px 0 rgba(255, 255, 255, 0.25);
}