* {
	padding: 0;
	margin: 0;
}
/* Custom fonts */
@font-face {
  font-family: visitor;
  src: url(fonts/visitor1.ttf);
}

body {
  background-color: #2A373E;
}

/* Navigation Bar */

.navigation {
  background-color: #2A373E;
}

div ul.nav {
  list-style-type: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #2A373E;
}

div ul.nav {
  list-style-type: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;

}

ul li.nav {
  float: left;

}
li > a {
  position: relative;
  color: #000;
  text-decoration: none;
}
li > a.nav:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

ul li a.nav {
  display: block;
  color: white;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 20px;
}

li > a.nav:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
table {
  margin: auto;
  margin-top: 7%;
  width: 75%;
}
td {
  padding: 10px;
}
td:first-child {
  padding-right: 100px;
}
td:nth-child(2) {
  padding-left: 100px;
}
p { 
  width: 80%;
  color: white;
  font-size: 125%;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
h1 {
  margin-top: 9%;
  padding-bottom: 30px;
  text-align: center;
  font-family: visitor;
  font-size: 400%;
  color: #91C0D8;
}
h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #91C0D8;
  text-align: center;
}

.code {
  background-color: white;
  color: gray;
  display: inline-block;
  width: max-content;
  height: max-content;
  margin-left: 3%;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;

}
.code a {
  text-align: center;
  padding: 19px;
  font-size: 200%;
  color: #91C0D8;
  text-decoration: none;
}
.code a {
  position: relative;
}
a:after,
a:before {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
  .code a:before {
    color: #fa0;
    content: '{';
    color: gray;
    display: block;
    font-size: 1.5em;
    left: 30px;
    opacity: 0;
    position: absolute;
    top: 0;
  }
  .code a:after {
    color: #fa0;
    content: '}';
    color: gray;
    display: block;
    font-size: 1.5em;
    opacity: 0;
    position: absolute;
    right: 30px;
    top: 0;
  }
  .code a:hover:before {
    left: 5px;
    opacity: 1;
  }
  .code a:hover:after {
    opacity: 1;
    right: 5px;
  } 
  .code a:hover {
    background: trasnparent;
  }