* {
  padding: 0;
  margin: 0;

}

/* Custom fonts */
@font-face {
  font-family: visitor;
  src: url(fonts/visitor1.ttf);
}
@font-face {
  font-family: productSansBold;
  src: url(fonts/ProductSans-Bold.ttf);
}
@font-face {
  font-family: productSansReg;
  src: url(fonts/ProductSans-Regular.ttf);
}
@font-face {
  font-family: productSansThin;
  src: url(fonts/ProductSans-Thin.ttf);
}
@font-face {
  font-family: menloRegular;
  src: url(fonts/Menlo-Regular.woff);
}

/* Navigation Bar */

div ul.nav {
  list-style-type: none;
  overflow: hidden;
  background-color: #91C0D8;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

div ul li.nav {
  float: left;
}

div ul li a.nav {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-family: productSansThin;
  font-size: 20px;
}

div ul li a.nav:hover {
	background-color: white;
	color: gray;

}

/* Type Selectors */


h2 {
  font-family: visitor;
  font-size: 60px;
  text-align: left;

}
h1, h2 {
  color: #91C0D8;
  padding: 20px;
}
h1 {
  font-family: visitor;
  font-size: 100px;
  text-align: center;
  padding-top: 80px;
}

p {
  font-family: productSansThin;
  color: white;
  /*margin-right: 65%;*/
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  /*padding: 10px 10px 20px 20px;*/
  font-size: 24px;
  /*text-align: left;*/
}

/* Classes */

.top {
  background-color: #2A373E;
}
.middle {
  background-color: #536E7B;
}

/* Center Images */
.center {
  display: block;
  margin: auto;
  padding-bottom: 100px;

}
#robo-image {
  padding-top: 50px;
}
.brief-summary {
  width: 25%;
  height: 100px;
  display: inline-block;
  padding: 10px;
  padding-right: 30px;
}
.img-section {

  display: inline-block;
  padding: 30px;
}
/*Animations*/
@keyframes rn-logo {
  0% {transform: rotate(0deg); margin-left: 0%;}
  50% {transform: rotate(20deg); margin-left: 36%;}
  100% {transform: rotate(0deg); margin: auto;}
}
