* {
	padding: 0;
	margin: 0;
}
/* Custom fonts */
@font-face {
  font-family: visitor;
  src: url(fonts/visitor1.ttf);
}
@font-face {
  font-family: menloRegular;
  src: url(fonts/Menlo-Regular.woff);
}
body {
  background-color: #2A373E;
}

/* Navigation Bar */

.navigation {
  background-color: #2A373E;
}

div ul.nav {
  list-style-type: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #2A373E;
}

div ul.nav {
  list-style-type: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;

}

ul li.nav {
  float: left;

}
li > a {
  position: relative;
  color: #000;
  text-decoration: none;
}
li > a.nav:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

ul li a.nav {
  display: block;
  color: white;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 20px;
}

li > a.nav:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
table {
  margin: auto;
  margin-top: 7%;
  width: 75%;
}
td {
  padding: 10px;
}
td:first-child {
  padding-right: 100px;
}
td:nth-child(2) {
  padding-left: 100px;
}
p { 
  width: 80%;
  color: white;
  font-size: 125%;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
h1 {
  margin-top: 9%;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #91C0D8;

}
h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #91C0D8;
  text-align: center;
}
iframe:hover {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.25), 0 6px 20px 0 rgba(255, 255, 255, 0.25);
}